.main-content {
  flex: 1;
  padding: 20px;
}

.main-content h1 {
  margin-bottom: 20px;
  border-bottom: 1px solid #d4d8dc;
  padding-bottom: 20px;
}

.main-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-board {
  padding: 20px 0;
}

.search-board label{
  font-size: 14px;
  font-weight: bold;
  color:#555;
}

.search-box {
 display: flex;
 align-items: center;
 width:fit-content;
 border: 1.5px solid #d4d8dc;
 border-radius: 3px;
 margin: 5px 0;
 padding: 6px;
}

.search-box:focus-within {
  border:1.5px solid #0079bf;
}

.search-board input{
  border: none;
}

.search-board input:focus {
  outline: none;
}

.board-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 20px;
}

.board-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-align: center;
}

.board-card:hover {
  background-color: #d4d8dc;
}

.add-board-container {
  flex-shrink: 0; 
}

.add-board-container button {
  height: 100px;
  background: #ebecf0;
  border:none;
  border-radius: 5px;
  padding: 10px;
}

.add-board-container button:hover {
  background-color: #110e0e3d;
}