.list {
  min-width: 220px;
  background: #ebecf0;
  border-radius: 5px;
  padding: 10px;
}

.list-upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.list-upper-container button {
  border:none;
  background-color: transparent;
}

.list-upper-container button:hover {
  background-color: #110e0e3d;
  border-radius: 3px;
}

.list h3 {
  font-size: 15px;
}

.list h3:hover {
  cursor: pointer;
}

.cards-container {
  padding: 0 8px;
  margin: 8px 0;
}

.add-card-button {
  background: #110e0e3d;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 8px;
}
