.list {
  min-width: 220px;
  background: #ebecf0;
  border-radius: 5px;
  padding: 10px;
}

.list-upper-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.list-upper-container button {
  border:none;
  background-color: transparent;
}

.list-upper-container button:hover {
  background-color: #110e0e3d;
  border-radius: 3px;
}

.list h3 {
  font-size: 15px;
  padding: 5px;
}

.list h3:hover {
  background-color: #d1d2d57c;
  cursor: pointer;
  border-radius: 5px;
}

.cards-container {
  padding: 0 8px;
  margin: 8px 0;
}

.add-card-controls {
  display: flex;
  gap: 10px;
}

.description-buttons {
  display: flex;
  gap: 8px;
}

.add-card-submit {
  background-color: #0079bf;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 3px;
}
.add-card-submit:hover {
  background-color: #005a94;
}
.add-card-cancel {
  background-color: transparent;
  border: none;
}

.add-card-button {
  background: #110e0e3d;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 8px;
}

.add-card-button:hover {
  background: #696868;
  transition: all 0.3s ease;
}
